.nested-category-list {
  width: 300px;
  position: absolute;
  top: 40px;
}

.nested-category-list {
  z-index: 100;
  border: 1px solid #CCC;
  background: #FFF;
}

ul.nested-category-list > li {
  width: 120px;
}

ul.nested-category-list > li > a {
  white-space: nowrap;
}

.category-list > li {
  position: relative;
}

ul.category-list:not(.nested-category-list) > li > a {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-tabs > li > a:hover {
  border-color: #CCC;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  background: #fff;
  z-index: 110;
}
