.range-filter.noUi-horizontal {
  width: 300px;
  height: 5px;
  margin: 0px 20px;
  position: absolute;
}

.range-filter.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  top: -10px;
}

.range-filter .noUi-handle::before .noUi-handle::after {
  content: initial;
}

.noUi-handle.noUi-handle-lower::before, .noUi-handle.noUi-handle-lower::after {
  content: initial;
}

.noUi-handle.noUi-handle-upper::before, .noUi-handle.noUi-handle-upper::after {
  content: initial;
}

span.range-right-val, span.range-left-val {
  position: absolute;
  margin-top: 10px;
}

span.range-left-val {
  left: 5px;
}

span.range-right-val {
  right: 5px;
}

.filter-list .nested-category-list {
  padding: 10px;
}

.filter-list .nested-category-list li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.filter-list .nested-category-list.range-filter-wrapper {
  width: 330px;
  height: 60px;
  padding: 25px 0;
}

ul.filter-list:not(.nested-category-list) > li > a {
  font-weight: normal;
  font-size: 12px;
}

ul.selected-filters {
  list-style-type: none;
  padding: 0;
  height: 40px;
}

ul.selected-filters > li {
  display: inline-block;
  border: 1px solid #DDD;
  margin: 5px;
  padding: 5px;
  color: #777;
}

ul.selected-filters > li > span {
  margin-left: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
