<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/main.css">
  <title><%= settings.name %></title>
</head>
<body>
  <div class='container'>
    <% include ../partials/header %>
    <div id="main">
      <%- content -%>
    </div>
  </div>
  <script>
    window.__store__ = (function() {
      return {
        categories: <%- JSON.stringify(categories) %>,
        filters: <%- JSON.stringify(filters) %>,
        currentCategory: <%- JSON.stringify({ id: currentCategory.id, name: currentCategory.name }) %>,
        selectedFilters: <%- JSON.stringify(selectedFilters) %>
      }
    }());
  </script>
  <script src="/assets/app.js"></script>
</body>
</html>
